[2018-07-09 12:37] annettaws opened #2 "Update Config on Fly"
Hi,
I'm trying to use your Vue wrapper.
First I change your code to get the Google Config from the server, so i can change the config, save them and "re-init" each time my gapi.client.
It work.

Now I would like to understand how can I initialize the "googleAuthService.authInstance", because after calling the  gapi.client.init it is always null!
what i'm doing wrong?
thanks

[2018-07-13 16:57] webstractions opened #3 "Uncaught (in promise) TypeError: Cannot read property 'spreadsheets' of undefined"
Everything works fine for authorization and initializing the API client. When it comes time to use the client for spreadsheets, that component is undefined.

My config json generated from Google Developer console:

[code]
Code I am using in my methods block:

[code]
The `gapi.client` is initialized and authorized as I mentioned above. It is just that I cannot get the `sheets` api to get initialize

[2018-08-10 14:49] andrewpeters9 opened #4 "Load Gapi.js via Google CDN"
Loading a static version of gapi.js seems to be causing some issues for this package right now - i.e., JS-blocking 404s.

Let me know if you want me to create a PR.

[2018-08-10 15:40] andrewpeters9 opened #5 "Elaborate Readme for Hidden Functionalities"
The readme should probably include info on the helper functions in the GoogleAuthService.js file, e.g., $logout/$login etc.

Let me know if you want me to PR this.

[2018-08-14 16:31] hkd987 commented on #4
I'm seeing the same error after working with the Admin SDK for weeks on a project I now get a 404 error and can not load the following URL

https://apis.google.com/_/scs/apps-static/_/js/k=oz.gapi.en_GB.Xuul3ImcGWk.O/m=auth2,client/rt=j/sv=1/d=1/ed=1/am=QQE/rs=AGLTcCNY5BLhsHJjf4ALqX2owlgNmMISlg/cb=gapi.loaded_0

[2018-08-15 08:30] andrewpeters9 commented on #4
@hkd987 If you're after a temp fix, this is the new gapi.js file you'll want to use: https://apis.google.com/js/gapi.js

Just copy and paste this wherever the old gapi.js is being used.

[2018-08-15 21:17] hkd987 commented on #4
I replace both the gapi.js file export const with the link provided & replaced the gapi var inside the vue-gapi.js This didn't seem to work.

[2018-08-15 21:57] hkd987 commented on #4
Also after making that change it throws the 404 error out twice...

[2018-08-15 22:47] tleite commented on #4
u might wanna try this:

https://github.com/guruahn/vue-google-oauth2

[2018-08-16 15:40] hkd987 commented on #4
Was able to fix this issue by using async defer and loading the gapi api in a script tag in the head.

[2018-08-16 15:40] hkd987 commented on #4
<script src="https://apis.google.com/js/platform.js?onload=onLoadCallback" async defer></script>

[2018-08-16 15:41] andrewpeters9 commented on #4
@hkd987 Currently on my phone right now. Glad to hear you fixed it, but if you want to delegate the fix to npm then make sure the dist folders are using the new gapi.js file.

[2018-08-19 05:32] cedpoilly commented on #2
Hi @annettaws
I might need to see your code to help with that. You can provide it here or contact me via email

[2018-08-19 06:34] cedpoilly commented on #3
@webstractions plugin seems to be broken. We're currently working on a fix. Will be pushed soon. I'll let you know when to update the package in your project.
Thanks for notifying us!

[2018-08-19 06:36] cedpoilly commented on #5
Hi @andrewpeters9,
Yes please. Your help will be much appreciated! :)

[2018-08-19 07:14] cedpoilly commented on #4
@hkd987 @andrewpeters9 @tleite @fraunos Kindly run `npm install --save-dev  vue-gapi@latest` and let me know if the issues are now fixed.

[2018-08-19 07:14] cedpoilly commented on #3
@webstractions Kindly run `npm install --save-dev  vue-gapi@latest` and let me know if the issues are now fixed :)

[2018-08-19 07:39] andrewpeters9 commented on #4
@cedpoilly Works for me. Thanks.

[2018-08-22 12:03] #2 closed

[2018-08-22 12:04] cedpoilly commented on #2
@annettaws please check the latest version, should work fine now.

[2018-08-22 12:04] #3 closed

[2018-08-22 12:05] #4 closed

[2018-08-23 06:48] annettaws commented on #2
Hi Ced,
i'll check the new versions.
Anyway below is the code modified by me:

`var googleAuthService = new GoogleAuthService();
var login = googleAuthService.login;
var logout = googleAuthService.logout;
var isAuthenticated = googleAuthService.isAuthenticated;
var getUserData = googleAuthService.getUserData;
var staticConfig = {};

var VueGAPI = {
  install: function (Vue, clientConfig) {
    Vue

[2018-08-23 13:02] hkd987 commented on #4
Thanks this works, had to remove all the node models folder and reinstall but Great Job!!!

much better soultion

[2018-09-02 21:33] Leo428 opened #6 "Help needed for Typescript"
Firstly, thank you very much for this wrapper!

I am using Vue with typescript. When I tried to import VueGAPI from "vue-gapi", typescript wants me to provide a .d.ts file. For now, I created an empty .d.ts file to just pass the compiler. Can you please generate a .d.ts file for typescript users? Thank you!

Also, I am a little bit confused about how to use this:
this.$getGapiClient()
VScode gives

[2018-09-06 22:53] hkd987 commented on #5
#7

Hope this helps or at least gives a starting point.

[2018-09-07 04:34] cedpoilly commented on #5
Yes Lundin, it helped. Thanks

[2018-09-07 04:39] cedpoilly commented on #6
Hi Leo,

If you have the skills for creating the declaration file, please go ahead and create a pull request. I will test & review it. When all is good I'll document it :)

Thanks a lot for using VueGAPI!

Cheers

[2018-09-23 18:10] nguyendv commented on #6
This is what I use just to pass Typescript errors, but not particularly helpful in advance usages such as auto completion.

[code]
I can make a PR if you're ok with this declaration file.

[2018-09-25 18:36] hkd987 opened #8 "isAuthenticated method will not work unless you refresh the page."
Since the isAuthenticated method works by using localStorage you can not call the method in a SPA app unless you have had the user refresh the page.

This results in a messy action of forcing users to refresh the page.

We should work towards finding a way to persists a isAuthenticated method.

[2018-09-25 18:47] hkd987 commented on #8
Might be able to create a Vuex import and store everything inside Vuex

https://stackoverflow.com/questions/45644171/adding-mutations-to-vuex-store-as-part-of-vue-plugin

here is an example of what might work

[2018-09-25 18:59] hkd987 commented on #8
Here is more info on putting things into VUEX

https://stackoverflow.com/questions/45644171/adding-mutations-to-vuex-store-as-part-of-vue-plugin

[2018-09-25 18:59] hkd987 commented on #8
https://gist.github.com/brianboyko/91fdfb492071e743e389d84eee002342#vuex

more reading on the topic

[2018-09-27 16:58] cedpoilly commented on #8
It'll be good to have a way via Vuex, but we also need to cater for apps that don't include it

[2018-09-27 17:00] cedpoilly commented on #6
@nguyendv Kindly open a PR as WIP so that we can advise. Thanks for your help

[2018-09-27 21:57] hkd987 commented on #8
Maybe say something like if an apps using vuex push into vuex else push to localhost?

[2018-10-07 15:08] hkd987 commented on #8
https://github.com/hkd987/Admin-Remix/tree/master/src/assets/gapi

There has to be a better way than this...maybe passing the store in an a variable to the configuration?

[2018-10-09 10:48] hkd987 opened #9 "Add inline component."
Having the pop up works and gets the job done with most cases, but devs should be able to select the login type weather it be inline, pop up etc....

[2018-10-09 10:48] hkd987 commented on #5
I think we can close this issue.

[2018-10-09 12:18] cedpoilly commented on #8
Thanks. I saw the modification which seems interesting. However in your version you are importing the store from your custom code if I am not mistaken.
This will not be possible from the package, so we need a way to contact the application's `Store` without having to import it.

A probable approach would be to create a VueX plugin to communicate with the `Store`:
https://vuex.vuejs.org/guide/plugi

[2018-10-10 13:18] hkd987 commented on #9
https://developers.google.com/identity/sign-in/web/reference#gapi.auth.signIn

Under signInOptions says that there is an option under ux_mode is "popup" or "redirect"

Just thinking that we should have an option to enable redirect. I believe this will push this will push the user to google sign in page and then back to the app they were on.

[2018-10-10 13:34] hkd987 commented on #8
Right, so my thought is that we pass the store in the configuration, then we say if we have the store passed in run the mutation function.

[2018-10-12 23:20] hkd987 opened #10 "Call for user update every 45min"
Google expires the user token after one hour the recommended way to keep the user logged in is to refresh the token after 45min.

We should explore a way to keep the user logged in if the browser is still open. This will create a seamless user experience.

[2018-10-12 23:20] hkd987 commented on #10
https://developers.google.com/identity/sign-in/web/listeners

See refresh method.

[2018-10-16 17:15] hkd987 commented on #9
ux_mode: 'redirect'

needs to be passed into the apiConfig object for this to work!

[2018-10-16 17:38] cedpoilly commented on #9
Which part precisely?

[2018-10-16 19:18] hkd987 commented on #10
` refreshToken (event) {
    const GoogleUser = this.authInstance.currentUser.get()
    GoogleUser.reloadAuthResponse()
      .then((authResult) => {
        localStorage.setItem('access_token', authResult.access_token)
        localStorage.setItem('id_token', authResult.id_token)
        localStorage.setItem('expires_at', this._expiresAt(authResult))
        })
      })
  }`

This should update t

[2018-10-17 00:41] hkd987 commented on #10
https://github.com/cedpoilly/vue-gapi/pull/11

See pull request

[2018-10-17 00:42] hkd987 commented on #9
Something about the localhost redirect with google, I didnt have a bunch of time to look into it but all my redirect URLs are set up so I don't think its on my end.....

[2018-10-17 15:07] hkd987 commented on #8
https://github.com/hkd987/vue-gapi/tree/gapi-isLogged-In

working on this

[2018-10-17 15:07] hkd987 commented on #8
waiting on other pull to finish first

[2018-10-19 06:57] cedpoilly commented on #9
Okay I'll check that this weekend

[2018-10-20 16:59] rcastera commented on #8
@cedpoilly @hkd987 The GAPI contains an event Listener for sign in status:

[code]

I can't get vue to emit the event to be listened in a component. Maybe one of you could have better luck?

[code]

[2018-10-20 17:03] rcastera commented on #8
Possibly an [event bus](https://medium.com/@andrejsabrickis/https-medium-com-andrejsabrickis-create-simple-eventbus-to-communicate-between-vue-js-components-cdc11cd59860) strategy?

[2018-10-20 23:50] hkd987 commented on #8
I think the best way to be creating the method in the global state, see link to my branch, then people can put that in its own computed property and then use it in v-if as desired.

Not sure if a plugin can emit....I’d have to read the docs better.

[2018-10-24 17:59] hkd987 commented on #8
@cedpoilly  pull request has been made!!

[2018-10-25 09:35] cedpoilly commented on #10
Version 0.0.10 is now on npm and inlcudes the code for PR #11

[2018-10-25 09:43] cedpoilly commented on #8
@hkd987 will be tested after we close Issue #10

[2018-11-03 07:14] #10 closed

[2018-11-03 07:16] #8 closed

[2018-11-04 02:28] hkd987 opened #22 "Vue CLI 3 Plugin"
Work toward creating a fork // or move to Vue 3 Plugin

https://cli.vuejs.org/dev-guide/plugin-dev.html#distributing-the-plugin

[2018-11-04 02:39] hkd987 opened #23 "Ask for additional scopes from user"
GoogleUser.grant(options)

Next on my list to implement is a simple way to grant more scopes.

[2018-11-12 19:39] amaanr commented on #5
Keep getting this error while trying to implement a simple solution...?

`TypeError: this.$getGapiClient is not a function. (In 'this.$getGapiClient()', 'this.$getGapiClient' is undefined)`

Didn't want to open a new issue as this is more of a request for additional information...

I'm finding it difficult to get the plugin to work with my app, do you have an example of an easy implementation you

[2018-11-27 18:29] hkd987 opened #24 "Jest Unit Testing of the Auth Service Class"
https://github.com/hkd987/vue-gapi/tree/jest-testing

Working on unit testing the AuthService Class. Any help would be appreciated.
My thought was to use JEST for this. I have already set up the structure

[2018-12-07 08:33] nidkil commented on #24
Sorry, just saw this issue now. Mea culpa.

Yes, Jest is the way to go. I was looking at this for another project I'm working on (authenticating against Azure Active Directory using MSAL.js). It is pretty challenging to test the real OAuth flow due to the security measures that are in place to avoid bots hacking the authentication server. I have choosen to use mocks for the OAuth library and just

[2018-12-07 11:43] nidkil commented on #22
I have this setup and working for another plugin project, so it should be fairly straight forward for me to set this up for vue-gapi.

[2018-12-10 15:05] hkd987 commented on #24
https://github.com/hkd987/vue-gapi/tree/jest-testing

working with @cedpoilly to mock the init gapi response. This is a solid starting point I have the auth response mocked out right now.

[2018-12-15 04:17] syldor opened #25 "API key type"
Hi,

I keep getting an error 400
[code]
when calling ```this.$getGapiClient()```

What kind of API Key should be generated to use with vue-gapi?

Thanks !

[2018-12-15 16:06] hkd987 commented on #25
https://developers.google.com/api-client-library/javascript/features/authentication

You can set this up in your google developer console. You will set up a new project and use the public api key provided by google.

[2019-02-08 19:54] cedpoilly commented on #24
Waw. I have  just tried the tests on your branch @hkd987. Seems awesome!

[2019-02-13 14:07] hkd987 commented on #24
I haven't put much work into this since Dec. Seems like we might need to find a way to test without testing the auth section.

[2019-02-13 22:13] hkd987 commented on #24
First pull reqeust of many on this issue builds the framework.

https://github.com/cedpoilly/vue-gapi/pull/26

[2019-04-19 23:17] Juan-DesignStudio opened #28 "Support for Team Drives?"
I wanted to create a new team drive with this wrapper but doesn't seem like this is possible yet?

[2019-04-20 04:52] hkd987 commented on #28
https://developers.google.com/drive/api/v3/manage-teamdrives

This plugin just handles the auth and auth state. You would need to write a custom middleware to handle the drive api request.

[2019-04-20 04:52] #28 closed

[2019-08-26 22:33] rachidelaid opened #30 "valueInputOption not working"
i'm trying to append data to a sheet. but i can set valueInputOption.
`this.$getGapiClient()
      .then(gapi => {
        gapi.client.sheets.spreadsheets.values.append({
          spreadsheetId: this.sheetID,
          range: 'sheet1',
          'valueInputOption': "RAW",
          resource: {values:[[1,2,3,4]]}
        })
      }).then((response) => {
        console.log(response);

      })`

[2019-08-26 22:38] #30 closed

[2019-08-26 22:39] rachidelaid commented on #30
my bad i was a problem with spreadsheetId

[2019-09-04 18:26] fmeyertoens opened #31 "Add version tags"
The contributing guidelines state that this project follows semver but there are no commits annotated with tags. Can you annotate the commits with tags so Github recognizes them as releases and makes it easier to view the repository at a certain release? (I don't know whether it is possible to open a pull request for that)
Are there any plans to publish a new version to npm since there has been qu

[2019-09-04 18:42] cedpoilly commented on #31
Hi Fabian,

Actually I do not have much knowledge about this. I'd be glad if you would
join the team and help with that! 😃
--
Cedric Poilly
Freelance Web Developer
Mentor at Codementor.io
*https://www.codementor.io/cedpoilly <https://www.codementor.io/cedpoilly>*

On Wed, 4 Sep 2019 at 22:26, Fabian Meyertöns <notifications@github.com>
wrote:

[2019-09-05 08:15] fmeyertoens commented on #31
I can help you with that but only collaborators can do that (i.e. people with push access). It's actually straightforward and you can even do it on Github under the releases tab of the repo.

[2019-09-06 15:54] Tropicalista opened #32 "How to make gapi available to all component?"
I have a lot of component make use of this plugin.

How can I make gapi available to all compoentns before app starts?

At the moment I have the following code in every component:
[code]

[2019-09-09 15:08] cedpoilly commented on #31
I have added you to the list of contributors. Shoot me an email at cedpoilly@gmail.com

[2019-09-09 15:13] cedpoilly commented on #32
@Tropicalista I do not have a design for this yet. The reason for the syntax you've mentioned is due the the async nature of the package.
The GAPI client is returned on a promise resolution. This is so that at any moment that your code is executed, the client has been initialised with all the requested APIs.

I am open to suggestions for how the API for the package could look like. 😉

[2019-09-17 15:26] fmeyertoens commented on #6
There are already type packages for [gapi ](https://github.com/DefinitelyTyped/DefinitelyTyped/tree/master/types/gapi)and [gapi.auth2](https://github.com/DefinitelyTyped/DefinitelyTyped/tree/master/types/gapi.auth2) that we can use like [ng-gapi](https://github.com/rubenCodeforges/ng-gapi) for angular does it.

[2019-09-17 15:29] fmeyertoens commented on #6
I stumbled upon `Vue.gapiLoadClientPromise` and was wondering what the intention behind this variable is and how it can be typed. It's assigned `Promise<void>` but then it also has a `status `property.
https://github.com/cedpoilly/vue-gapi/blob/6d2e67d7baa5eed44c097c2739e0461c32a4a119/src/VueGAPI/index.js#L20-L27

[2019-10-16 18:22] cweave opened #33 "v0.1.0 isn't available on npm"

[2019-10-20 21:27] sadortun commented on #33
@cedpoilly  Can you update  NPM package please ?

Thanks,
Samuel

[2019-11-03 15:45] cedpoilly commented on #33
Hi @cweave @sadortun

I've just **published** it.
Seems like the version number is still not updated on npmjs.com, but **v0.1.0** is **available** now. Kindly check.

Thanks ✌🏼

[2019-11-03 15:46] #32 closed

[2019-11-03 15:46] cedpoilly commented on #22
Kindly create a PR for it. 🙂

[2019-11-03 15:46] #22 closed

[2019-11-03 15:47] #6 closed

[2019-11-03 15:47] #9 closed

[2019-11-03 15:47] #23 closed

[2019-11-03 15:48] #24 closed

[2019-11-07 10:16] cedpoilly commented on #33
Package is updated on npm.

[2019-11-07 10:16] #33 closed

[2019-11-07 15:24] everttrollip opened #38 "vue-gapi.common.js?15fd:328 Uncaught (in promise) TypeError: res is not a function"
### Description

* Use the latest vue-gapi npm package (^0.1.0)
* Call the Vue prototype login function (Vue.prototype.$login())
* See error in developers console:

    at eval (vue-gapi.common.js?15fd:328)

[2019-11-07 18:38] cedpoilly commented on #38
Hi @everttrollip
Was it the case in the previous version or is it specific to `0.1.0`?

[2019-11-09 20:24] everttrollip commented on #38
@cedpoilly specific to 0.1.0. Didn't have the same issue in previous version. Seems to be a callback function that needs to be sent with the login function? Why? Or am I misunderstanding?

[2019-11-12 14:53] everttrollip commented on #38
Hi @cedpoilly any idea what I could do here yet?

[2019-11-12 15:09] cedpoilly commented on #38
@everttrollip can you build a JSFiddle or a CodePen to reproduce the error?

[2019-11-12 17:54] everttrollip commented on #38
@cedpoilly it's a bit hard since I can't use my secret client ID in the template. Do you have a starter template which I can use, to show you where it happens for me?

Or how would you suggest I tackle this?

[2019-11-12 18:29] everttrollip commented on #38
In the file webpack:///./node_modules/vue-gapi/dist/vue-gapi.common.js?15fd, I can see the following code causing my error:

`
      login: function (res) {
        return Vue.prototype.$gapi.getGapiClient()
                  .then(function () {
                    login().then(function () { res(); });
                  })
`

The error in console is:

`
vue-gapi.common.js?15fd:328 Uncaught (in pro

[2019-11-13 20:33] cedpoilly commented on #38
@everttrollip could you create another client secret? A temporary one?

[2019-12-18 10:24] cedpoilly commented on #38
@everttrollip Checking on this issue. Have you found a solution yet? Or do you still need help?

[2019-12-21 18:19] everttrollip commented on #38
@cedpoilly thanks for checking in.

I used a callback function in the login and logout method parameters, which is then called when the login/logout was successful. Did you mean for the `res` arg to be a function?

[2019-12-29 21:03] namoscato opened #41 "Add scope authorization check"
It would be nice to easily determine whether or not the user has granted access to the specified scopes post-login via [`GoogleUser.hasGrantedScopes`](https://developers.google.com/identity/sign-in/web/reference#googleuserhasgrantedscopesscopes). Perhaps this boolean could be passed to the login callback / resolve?

[2020-02-12 05:19] chiragob opened #42 "how can I get refresh_token"
hi
please help me.
how can I get refresh_token from API

[2020-02-12 06:05] cedpoilly commented on #42
Hi @chiragob

I have to add it to the code. For now the official way is this `authInstance.currentUser.get().getBasicProfile()`

To get the `authInstance` for the code above, please reffer to the following documentation:
https://developers.google.com/identity/sign-in/web/reference#users

Can you try something like this:
[code]

Let me know ✌🏼

[2020-02-12 06:08] #38 closed

[2020-02-12 06:08] cedpoilly commented on #41
@namoscato Good idea. Approved. Please provide a PR ✌🏼

[2020-02-13 06:02] chiragob commented on #42
hi @cedpoilly
thanks for the help.
I tried the above code but this will give me access_token but I need refresh_token. In authResponse i am not getting refresh_token.

how can I set below parameter in login URL
[code]

[2020-02-13 07:58] cedpoilly commented on #42
Please refer to the [Usage](https://github.com/cedpoilly/vue-gapi#usage) section of the reamde.

You can add these keys to the `apiConfig` variable, which in the code is applied as such: `gapi.client.init(clientConfig)`

[2020-02-13 18:55] cedpoilly opened #43 "Update the dev & build setup"
The goal is to update the setup to use modern features and improve the system overall.

[2020-02-14 06:15] chiragob commented on #42
hi @cedpoilly
thanks for the help.
I checked the document but not getting a refresh token.
below is my code please correct code if it is wrong. I am new in Vue js
[code]
[code]
When i click on sign in button i get below code will be came.
i want to confirm it,
is this code is refresh token?
[code]
after login i click on user profile button i got below object
[code]
I tried different senario but I

[2020-02-14 12:12] everttrollip opened #45 "Access token cannot be accessed in latest chrome update"
It seems that Google has changed the name of the property that holds the object with the access_token from Zi to uc.

So, in the following code snippet, `authResult` is undefined.

[code]

Is anyone else experiencing this too?

[2020-02-14 12:14] everttrollip commented on #45
I see there is an open pull request, #44, to replace the hardcoded Zi. I like this idea, any idea if we could implement this?

[2020-02-14 13:56] cedpoilly commented on #45
PR merged. Will deploy this weekend ✌️

[2020-02-16 15:51] #45 closed

[2020-02-17 14:46] fibigerg commented on #45
Hi, could you please push a new tag including this fix? Thanks!

[2020-02-17 14:50] fibigerg commented on #43
The master branch is not working as a npm depency now, most likely because of mising dist folder and wrong path to it in `package.json` file. In the context of this issue https://github.com/cedpoilly/vue-gapi/issues/45 its critical to fix it ASAP. Thanks.

[2020-02-19 05:09] cedpoilly commented on #43
@fibigerg I have pushed the /dist folder to master. Does it fix the issue for now?
We should discuss this further

[2020-02-19 08:10] fibigerg commented on #43
Hi, yes, it works now. Thanks.

[2020-03-05 13:58] cedpoilly commented on #42
Does this work for you?

https://developers.google.com/android-publisher/authorization#generating_a_refresh_token

[2020-03-12 20:13] DanielJaramillo94 opened #46 "Security potential issues ⚠️"
Hi,

I noticed this package strongly relies on local storage, wich can lead to serious security issues.

I think you guys should check this
https://www.rdegges.com/2018/please-stop-using-local-storage/

Cheers.

[2020-03-18 17:08] Robert-Dawidowski opened #47 "How check if user is Authenticated to redirect him."
@cedpoilly Hey mate,
How can I check is user is Authenticated? when I call **this.$gapi.login()** I have modal where I can select user etc. but after choose this I don't have promise to use .then(). So how can I check if user logged in correct to redirect him to some requiresAuth page.

[2020-04-14 13:07] chiragob commented on #42
@cedpoilly i checked but not getting refresh_token

[2020-04-14 13:36] cedpoilly commented on #42
I will check the documentation. I think some processes have changed.

[2020-04-15 21:26] cedpoilly commented on #46
@DanielJaramillo94
Thanks. Feel free to create a PR with a suggested solution

[2020-04-15 21:28] cedpoilly commented on #47
@Robert-Dawidowski
Please try the following:
`const isSignedIn = await this.$getGapiClient().getAuthInstance().isSignedIn.get()`

[2020-04-15 21:28] cedpoilly commented on #42
@chiragob please check the latest version on npm. It stores the refresh token after the login.

[2020-04-16 14:23] chiragob commented on #42
@cedpoilly  ok checking

[2020-05-01 17:46] DanielJaramillo94 commented on #46
I'm closing this issue because the mentioned article, after further research, seems to be more like an opinion than an absolute true. Sorry for troubles.

[2020-05-01 17:46] #46 closed

[2020-05-07 04:42] SamuelBonilla commented on #47
try with

[code]

[2020-05-16 22:08] sadortun opened #50 "TypeError: Cannot read property 'access_token' of null"
Hi !

First of all, thanks for your great library!

Unfortunatly, when using  `this.$gapi.login()`  i receive the following error :
[code]

Looking at the parent method,  the `response` is almost empty.

![image](https://user-images.githubusercontent.com/794449/82131098-b629ac00-979f-11ea-963b-383d6445b04c.png)

The profile info is there :
![image](https://user-images.githubusercontent.com/794449/

[2020-05-17 06:15] cedpoilly commented on #50
Hi @sadortun ,

Thanks for using VueGAPI!

Can you please provide more context on this?

Also, I have to ask: are you calling `this.gapi.login()` as an `async` method?
Meaning: are you calling `.then` on it or using `async..await`?

Cheers,
Cedric

[2020-05-17 06:17] cedpoilly commented on #47
Closing this for now. Feel free to re-open if still applies. ✌

[2020-05-17 06:17] cedpoilly commented on #43
Closing

[2020-05-17 06:17] #43 closed

[2020-05-17 06:18] #47 closed

[2020-05-17 06:19] cedpoilly commented on #42
@chiragob closing this for now. Please re-open if still applies.

[2020-05-17 06:19] #42 closed

[2020-05-17 19:17] sadortun commented on #50
Hi @cedpoilly

Here is our login method
[code]

[2020-05-26 01:55] vinicius1209 commented on #50
I'm having the same issue in my app. Calling this.$gapi.login() automatically "close" the promises. Whatever is inside then() the function not wait the completed login.

[2020-05-26 02:00] vinicius1209 commented on #50
@sadortun any updates? did you get a momentary solution?

[2020-05-26 03:11] sadortun commented on #50
@vinicius1209  Yes and no, i am using GAPI without `vue-gapi`

[2020-05-26 03:26] vinicius1209 commented on #50
Oh yes... I am try to use only GAPI using vue but I don’t know how to figure out. If u can provide an example I will appreciate it a lot!

[2020-05-26 03:59] sadortun commented on #50
Something like that

[code]

[2020-05-26 11:17] cedpoilly commented on #50
@sadortun @vinicius1209 This works on my app:

[code]

[2020-05-30 13:10] namoscato commented on #50
@cedpoilly, this was introduced with the change from `GoogleAuth.signIn()` to `GoogleAuth.grantOfflineAccess()` in https://github.com/cedpoilly/vue-gapi/compare/v0.1.2...v0.2.2:

https://github.com/cedpoilly/vue-gapi/blob/8f1c403bce4bb5955a085257bb89a4d63b1b2803/src/VueGAPI/GoogleAuthService.js#L120-L126

In the current state, the subsequent `_setSession` call to `GoogleUser.getAuthResponse()` is

[2020-06-01 08:05] cedpoilly commented on #50
@namoscato Thanks for the info & feedback! I missed that regression. `grantOfflineAccess` is used so that we can get access to the `refresh_token`. Let me work on that.

Would you like to help with this feature and improving the repo as a whole?

[2020-06-01 11:28] namoscato commented on #50
@cedpoilly, no problem! I would be happy to help out when I can, but I cannot commit a ton of time at the moment.

[2020-06-01 17:09] everttrollip commented on #50
I noticed the same as @namoscato in that the error seems to only happen after the change from `GoogleAuth.signIn()` to `GoogleAuth.grantOfflineAccess()`. Did you manage to find anything yet @cedpoilly ?

[2020-06-04 06:08] everttrollip commented on #50
@cedpoilly any chance you maybe had some time to look into the problems caused by `grantOfflineAccess`?

[2020-06-04 06:14] cedpoilly commented on #50
@everttrollip checking it today. Would you like to pair up?

[2020-06-04 07:59] cedpoilly commented on #50
@everttrollip @sadortun @namoscato @vinicius1209 I have a working prototype. Still needs some fine tuning & testing. Stay tuned 🤙

[2020-06-04 09:11] everttrollip commented on #50
@cedpoilly I don't mind trying to help you out! How would you like to pair up?

[2020-06-04 09:13] everttrollip commented on #50
@cedpoilly that's awesome that you got a working prototype. If I can still help out, please let me know. I'm also working, so that's why it took me so long to respond...

[2020-06-04 09:21] cedpoilly commented on #50
@everttrollip email me so we can set it up ✌️

[2020-06-06 17:31] cedpoilly commented on #50
@everttrollip @sadortun @namoscato @vinicius1209 I have just published the fix: **0.3.1**

Kindly check and let me know ✌

[2020-06-14 16:30] namoscato opened #52 "Cleanup test dependencies"
From https://github.com/cedpoilly/vue-gapi/pull/51

* upgrade `jest`
* determine if we can remove presumably unused Karma dependencies

[2020-06-20 09:41] everttrollip commented on #50
@cedpoilly I can confirm this seems to work without problems. Thank you for the fix!

[2020-06-23 00:01] asiz15 opened #53 "$gapi.isSignedIn return a pending promise instead of boolean"
![Screen Shot 2020-06-22 at 7 59 33 PM](https://user-images.githubusercontent.com/13662081/85346271-fe389e80-b4c2-11ea-8847-85ab67b00cd6.png)

[2020-06-25 04:17] eparadise opened #54 "Missing required authentication credential"
Hi,

Thank you for this library! I am trying to create a form that, when submitted, writes data to a Google sheet. I used vue-gapi and configured it as specified, but when I click my submit button I get the following error: "Request is missing required authentication credential. Expected OAuth 2 access token, login cookie or other valid authentication credential."
This is the code that sets up the

[2020-06-28 14:50] cedpoilly commented on #52
Merged the PR. @namoscato if all looks good, kindly close this one 😉

[2020-06-28 14:53] cedpoilly commented on #53
@asiz15 Thanks for pointing this out.

I've checked the code & check the documentation for GAPI: it should return a boolean value directly.

Thus, kindly show me the code on your side, or provide a small replication so that I can debug. 🙂

Cheers!

[2020-06-28 14:55] cedpoilly commented on #54
@eparadise

Glad to know your using VueGAPI, thanks!

For the issue, I'll first ask: which **version** are you currently using?

Also, are the values properly stored in **localStorage**?

[2020-07-02 11:03] namoscato commented on #50
This also looks good in my context as well – thanks @cedpoilly! I'm going to close this out.

[2020-07-02 11:03] #50 closed

[2020-07-03 01:06] namoscato opened #56 "Remove CSS dependencies, build references"
There is no CSS in this project, so these are unnecessary.

[2020-07-03 01:15] namoscato opened #57 "Output test coverage"
Originally referenced in some Karma configuration; this would be nice to wire up at some point.

[2020-07-03 01:16] namoscato opened #58 "Configure lint CI"
* Easier once https://github.com/cedpoilly/vue-gapi/issues/56 is complete as CSS linting is irrelevant.
* Also reconcile multiple ESLint configurations and add [eslint-config-prettier](https://github.com/prettier/eslint-config-prettier)

[2020-07-03 01:23] namoscato opened #59 "Add TypeScript type definitions"
We should be able to start from [something like this](https://github.com/namoscato/google-photos-vue/blob/138243a143e9a220526a24af1a1046e61d406ac1/src/types/gapi.d.ts).

[2020-07-03 01:30] namoscato commented on #56
@cedpoilly, I was planning to hop on this next. Any objections?

[2020-07-03 09:09] fmeyertoens commented on #59
_Originally posted by @fmeyertoens in https://github.com/cedpoilly/vue-gapi/issues/6#issuecomment-532272081_

We tried to do this last year. Unfortunately I didn't have the time back then but I'm still interested in getting this to work.

[2020-07-03 14:23] namoscato commented on #59
@fmeyertoens, nice! Yeah, that makes sense to me.

I'm planning to focus on some internal build / CI stuff first but also happy to help out with this.

[2020-07-07 15:36] apgapg commented on #53
[code]

this return Promise instead of bool

[2020-07-07 16:03] apgapg opened #61 "this.$gapi.isAuthenticated() is returning true even after logout"
[code]

Even after logout(above code)
`console.log("isAuth:" + this.$gapi.isAuthenticated());`

this is giving **true**

[2020-07-07 23:16] namoscato commented on #61
@apgapg, did you try using the `logout()` method? i.e.

[code]

This should effectively invoke `gapi.auth2.getAuthInstance().signOut()` as you are doing but also clears the relevant local storage items which affect `isAuthenticated()`.

[2020-07-07 23:18] namoscato opened #62 "Generate documentation"
The source code has some pretty solid documentation. We should consider leveraging that for some better, generated documentation with [JSDoc](https://github.com/jsdoc/jsdoc) or something of the sorts.

[2020-07-08 03:49] apgapg commented on #61
Okay this means this lib also stores its own local data to check for login status?
I thought the two methods are same ie `this.$gapi.logout()` & `gapi.auth2.getAuthInstance().signOut()`
Can you please update README? It gives the methods are deprecated.

[2020-07-08 07:35] cedpoilly commented on #62
Agreed 💯

[2020-07-08 07:36] #52 closed

[2020-07-08 07:38] cedpoilly commented on #57
Yes, let's keep it for later though. We can implement that once we have a stable testing setup 😉

[2020-07-08 07:41] cedpoilly commented on #61
@apgapg Thanks. I will update the documentation. Give us some time 🙂

[2020-07-09 11:39] namoscato commented on #56
@cedpoilly, I'm working through this but am wondering if the `build:dll` script stuff is used?

https://github.com/cedpoilly/vue-gapi/blob/16e5cf082dc488b5f891244f00c70deb6a42ed9a/package.json#L18

[2020-07-09 11:42] idrys opened #63 "Error: localStorage is not defined"
Every time I try to use `import VueGAPI from 'vue-gapi` I get the message: "`localStorage is not defined`".
Is this my wrong configuration or bug?

[2020-07-09 14:08] cedpoilly commented on #63
@idrys can you please provide a sample project so I can investigate?
Also, does the error logged point to a specific line/file?

[2020-07-09 14:09] cedpoilly commented on #59
@fmeyertoens happy to have a PR from you for the same 🙂

[2020-07-09 14:11] cedpoilly commented on #56
@namoscato that's probably a legacy from the template I used

[2020-07-09 14:25] cedpoilly commented on #53
@apgapg Sorry for the confusion. The current implementation returns a promise.
Reason: it is calling the plugin itself to access `gapi`.

You will need to handle it in an async way: either with the Promise API or with 'async..await'.

Let me know if that helps.

[2020-07-09 16:39] namoscato commented on #56
Alright gotcha, thanks! It sounds like I can remove that stuff then for simplicity 👌

[2020-07-10 05:36] idrys commented on #63
I think I solved the problem. The problem arises when using **nuxt js**.
The solution is to move the "VueGAPI import from 'vue-gapi'" line to the plugin folder.
In the `nuxt.config.js` file I added:
[code]

in file plugin/google.js:

[code]

P.S.
The error will not indicate any particular line
_Thank you for your interest in the problem, best regard_s

[2020-07-12 14:56] namoscato opened #66 "Finalize build process cleanup"
* depends on https://github.com/cedpoilly/vue-gapi/issues/58
* upgrade `rollup*` plugins, i.e. see https://github.com/rollup/plugins

[2020-07-19 19:56] #56 closed

[2020-07-19 20:02] namoscato opened #71 "Configure Dependabot"
* See: https://dependabot.com/
* Once we're through removing unnecessary dependencies, i.e. at least after #66.
* Will require some admin repo setup

[2020-07-29 07:50] cnguyen-de opened #73 "Support for Vue 3"
Since Vue 3 is now in RC, would it be possible to support Vue 3?

[2020-07-29 12:02] wombat9375 commented on #42
Hey! Same issue here after i login i dont see the refresh token in the current user object. I can get a code using the grantOfflineAccess() which i can potentially later exchange for refresh token on the backend but would be nice if the refresh token would be provided on login. Is this currently no functional?

[2020-07-31 23:54] namoscato commented on #42
@wombat9375, the refresh token functionality was disabled by default recently to fix https://github.com/cedpoilly/vue-gapi/issues/50. You should be able to enable it by setting `refreshToken: true` in your configuration as seen in the [usage example](https://github.com/cedpoilly/vue-gapi#usage).

@cedpoilly implemented the fix and might be able to shed some more light on the issue if that does not

[2020-08-05 13:30] idrys commented on #53
`computed: {
      isSignedIn() {
        Promise.resolve(
          this.$isSignedIn().then( (data) =>{
            this.authorized = data
          })
        )
      },
    },`

[2020-08-06 11:10] #58 closed

[2020-08-15 13:21] #63 closed

[2020-10-06 14:36] #66 closed

[2020-10-19 10:02] altoP opened #76 "grantOfflineAccess"
is there a way to call grantOfflineAccess to get the authorization code?

[2020-10-19 11:06] #62 closed

[2020-10-19 23:34] namoscato commented on #76
@altoP, it doesn't look like we're returning the authorization code at the moment, but you should be able to retrieve it via [`getOfflineAccessCode()`](https://vue-gapi.github.io/vue-gapi/GoogleAuthService.html#getOfflineAccessCode), i.e.

[code]

[2020-11-29 15:27] namoscato commented on #71
Configured with a monthly update schedule for now.

/cc @cedpoilly

[2020-11-29 15:27] #71 closed

[2020-11-29 17:21] deCodeIt commented on #61
Perhaps it's better to check for `isSignedIn` within `isAuthenticated` method?

[2020-12-01 07:17] RahatChoudhary opened #96 "Create event in Google Calendar after login"
I want to run add event if user is logged in. If the user is not login, first user should get the auth screen and then add the event to the calendar. I tried using the bellow code,

[code]

but its not working. How can I do this.?
**Error in console: Uncaught (in promise) TypeError: Cannot read property 'events' of undefined
    at eval (calendar.vue?3a51:259)**

[2020-12-01 07:49] RahatChoudhary commented on #96
Sorry my mistake. I was forget to add discoveryDocs property value in apiConfig object. Its working after adding this line.
[code]

[2020-12-01 07:49] #96 closed

[2020-12-05 22:07] namoscato opened #105 "Version 1.0"
## (Working) Release Notes

Version 1.0 unifies a promise-based API and improves the internal software architecture.

### Breaking Changes

#### Session Storage

The local storage keys in which this plugin interacts with have been consolidated into a single key. The existing keys are no longer referenced, and users will need to login again to initialize their session.

#### Configuration

The `ref

[2020-12-05 22:14] namoscato commented on #73
@cnguyen-de, thanks for your patience on this!

We're currently working towards releasing v1.0 of this plugin. Feel free to follow along in https://github.com/vue-gapi/vue-gapi/issues/105 and/or leave feedback.

I'm leaning towards supporting Vue 3 in a v2.0 – which would be a fast-follow. Hopefully all of that dust will settle over the next ~month.

[2020-12-06 01:16] namoscato commented on #105
@cedpoilly, @fmeyertoens, @deCodeIt, @hkd987 – I've started work on v1.0 and wanted to be sure you were aware. This issue summarizes the changes thus far, but it's certainly a work-in-progress (https://github.com/vue-gapi/vue-gapi/pull/95), and I would love your input!

This in particular might be the most problematic breaking change. It greatly simplifies implementation, but I'm wondering if we s

[2020-12-07 23:57] #41 closed

[2020-12-08 00:06] namoscato opened #107 "Improve release automation"
Ideally we shouldn't have to manually bump `package.json`

[2020-12-19 16:43] namoscato opened #108 "Expand test coverage"

[2020-12-19 17:28] #105 closed

[2020-12-19 17:43] namoscato commented on #53
[`isSignedIn` documentation](https://vue-gapi.github.io/vue-gapi/GoogleAuthService.html#isSignedIn) has been updated and is accessible as follows in [v1.0](https://github.com/vue-gapi/vue-gapi/releases/tag/v1.0.0):

[code]

Note that `this.$isSignedIn()` has been deprecated and is now removed.

[2020-12-19 17:43] #53 closed

[2020-12-19 17:46] namoscato commented on #54
@eparadise, I'm not sure if you're still experiencing this issue, but I'm guessing the user needed to [login](https://vue-gapi.github.io/vue-gapi/GoogleAuthService.html#login) first.

I'm going to close this out given its age but happy to help / re-open if you're still experiencing issues.

[2020-12-19 17:46] #54 closed

[2020-12-19 17:56] namoscato commented on #76
@altoP, [v1.0](https://github.com/vue-gapi/vue-gapi/releases/tag/v1.0.0) introduces several improvements on this front:

1. `grantOfflineAccess` is now resolved with the authorization code
2. The authorization code is now persisted in local storage and can be retrieved via [`getOfflineAccessCode`](https://vue-gapi.github.io/vue-gapi/GoogleAuthService.html#getOfflineAccessCode)

[2020-12-19 17:56] #76 closed

[2021-01-02 18:31] namoscato commented on #73
@cnguyen-de, a Vue 3-compatible version of this plugin is in beta and available via `vue-gapi@next`.

`$gapi` is available as a [global property](https://v3.vuejs.org/api/application-config.html#globalproperties) and accessible via `this.$gapi` inside the application, analogous to the Vue v2.x usage. We might add some additional features around the new Composition API at some point and are open to

[2021-01-04 09:22] robinodas opened #126 "null response from currentUser.get() when openning website on mobile"
Hi team,

I get { Ca: null, xc: null } from gapi.auth2.getAuthInstance().currentUser.get() when openning website on mobile, though it's correct on PC.
Please help on check with it.

Cheers and thanks!

[2021-01-04 09:23] robinodas commented on #126
More details for your reference:

OS: IOS 14
Browser: Safari/Chrome

[2021-01-04 15:29] fmeyertoens commented on #126
You can call
[code]
to get the current user object or are you trying to get it outside of a vue component?

[2021-01-05 15:43] cnguyen-de commented on #73
@namoscato thanks for the update, will check it out asap. Will report back if I encounter any issues.

[2021-01-06 12:36] fmeyertoens opened #127 "Possibly unnecessary expiresAt function"
We have a function that calculates the `expiresAt` Date from the `expires_in` seconds, althought according to the [docs](https://developers.google.com/identity/sign-in/web/reference#gapiauth2authresponse) we already get the `expires_at` timestamp with the AuthResponse. So can we just use this property?
https://github.com/vue-gapi/vue-gapi/blob/7e5498c92a362f6ff870a88b3a07653322e41f89/src/GoogleAut

[2021-01-06 23:12] #59 closed

[2021-01-06 23:55] namoscato commented on #127
Yeah, good call! I'm seeing that on inspection of `authResponse` as well.

[2021-01-07 12:32] namoscato opened #129 "Clarify session storage in documentation"
As mentioned in https://github.com/vue-gapi/vue-gapi/issues/61#issuecomment-748504165, we should add clarity to the documentation that describes session storage / when we use local storage / etc.

[2021-01-07 12:32] namoscato commented on #61
I created https://github.com/vue-gapi/vue-gapi/issues/129 to handle the documentation update and am going to close this out.

[2021-01-07 12:32] #61 closed

[2021-01-07 12:36] namoscato opened #130 "Improve documentation examples"
The method-scoped [**Reference**](https://vue-gapi.github.io/vue-gapi/GoogleAuthService/_index.html#login-options-%E2%87%92-promise-loginresponse) examples aren't very helpful and essentially just illustrate the method interface.

Perhaps we introduce a high-level examples / recipes section with some more comprehensive examples (that interact with multiple methods), i.e.

* basic login / logout, d

[2021-01-07 12:39] namoscato opened #131 "Enable custom session storage configuration"
With the v1.0 refactoring, it would be relatively straightforward to enable applications to swap out the (default) local storage session storage with a custom implementation.

[2021-01-07 23:17] #127 closed

[2021-01-18 05:11] hanzoz opened #132 "Safari Error"
Is there any solutions to the error below, it occurs when I use safari.

_my code_
<img width="451" alt="Screenshot 2021-01-18 at 1 09 12 PM" src="https://user-images.githubusercontent.com/835436/104874694-7c442180-598e-11eb-94bb-8f41d64f37d3.png">

The error when I trigger the method above
<img width="929" alt="Screenshot 2021-01-18 at 1 08 54 PM" src="https://user-images.githubusercontent.com/83

[2021-01-18 07:26] fmeyertoens commented on #132
Related: https://github.com/google/google-api-javascript-client/issues/397

[2021-01-18 09:06] hanzoz commented on #132
@fmeyertoens It does not apparently, I can make it work by using csp but it doesn't make sense right? If I want to config csp, it takes way a lot of effort just to make the Google api works. Is there any other good solution?

[2021-01-18 13:50] namoscato commented on #132
@hanzoz, you might be hitting a known issue with a pending fix (https://github.com/vue-gapi/vue-gapi/pull/109), but to be sure:

1. Does this happen for you in other browsers as well?
2. If you disable `grantOfflineAccess`, does it work?

[2021-01-18 14:35] hanzoz commented on #132
@namoscato

1. So far it only occurs on safari macos and ios
2. I already tried grantOfflineAccess: false, and it doesn't work

so weird that this only occurs on **safari**, any other browser seems to work fine

[2021-01-26 03:19] robinodas commented on #126
Try but also get { "Ca": null, "uc": null } only.

[2021-01-26 22:06] CynthiaBlue commented on #130
I would love this. I'm really new to Vue. I'm trying to update a spreadsheet with data from Vue, and I can't really tell if this is what I need or not.

[2021-03-02 01:05] namoscato opened #154 "Add doc generation check run"
We should run `npm run docs` in pull request CI contexts to prevent issues like https://github.com/vue-gapi/vue-gapi/pull/153#issuecomment-788469099

[2021-03-02 01:12] #154 closed

[2021-03-18 12:15] dorklein opened #158 "Cannot find namespace 'gapi'."
I installed the vue-gapi and when I run my vue-cli app with typescript it shows me:
49:26 Cannot find namespace 'gapi'.
    47 |
    48 |     /** Ask to grant scopes from user. */

       |                          ^
    50 |
    51 |     /** Signs out the current account from the application and clear session storage. */
    52 |     logout: () => Promise<void>
....

[2021-03-18 16:24] namoscato commented on #158
@dorklein, what does your TSConfig look like? I'm guessing you need to add some packages to [`types`](https://www.typescriptlang.org/tsconfig#types) or something?

[2021-03-21 23:27] dany-eudes opened #159 "[vue-gapi@next] Cannot find module 'vue-gap'"
I'd like to use **vue-gapi** in a Quasar Framework 2.0.0-beta.9 project.

At the import statement I got a error message:
`Cannot find module 'vue-gap' or its corresponding type declarations.ts(2307)`

It was just under the 'vue-gapi' declaration
`import VueGapi, { PluginOptions} from 'vue-gapi'`

[code]

[2021-03-21 23:46] namoscato commented on #159
@dany-eudes, the type definitions don't exist yet (see https://github.com/vue-gapi/vue-gapi/pull/123)!

I should be able to add them this week.

[2021-03-22 00:07] namoscato commented on #159
Actually, I had time to update them. Try installing `vue-gapi@next` again, and let me know if they work for you.

[2021-03-22 00:23] dany-eudes commented on #159
Thank you very very much for your reply.
That's all fine now.

I was able to insert the plugin into a module in the quasar boot cycle and everything looks correct. I'll do some tests with Google Sheet API and if necessary I will come back with new questions.

Regards.

[2021-03-22 01:07] #159 closed

[2021-03-27 17:13] namoscato commented on #130
@CynthiaBlue, sorry for the delayed response, but I hope you've learned a little bit about Vue.js since!

I just added a more comprehensive [authentication example](https://vue-gapi.github.io/vue-gapi/examples/authentication.html) which should hopefully give you a better idea about what this library is about. We'll try to add some more examples over time, but hopefully this is helpful in the meant

[2021-03-29 01:42] alexvremja opened #161 "gmail api not supported?"
need to use gmail api to verify the forwarding email filters that in plain js, can be accessed with this function:
`gapi.client.gmail.users.settings.filters.list()`

therefore I thought to access using `this.$gapi.client.gmail.users.settings.filters.list()`, but didn't exists:
actually I found gmail but in a "strange" position:
`this.$gapi.clientProvider.client.gapi.client.gmail`

I tried to use t

[2021-03-29 12:55] namoscato commented on #161
@alexvremja, you can get a reference to `gapi` via the promise-based [`getGapiClient`](https://vue-gapi.github.io/vue-gapi/reference/GoogleAuthService/_index.html#getgapiclient-%E2%87%92-promise-gapi) method, i.e.

[code]

[2021-03-29 19:09] alexvremja commented on #161
Works!
great!
lost hours for nothing :-(
Thanks a lot!

[2021-03-29 19:09] #161 closed

[2021-04-14 15:56] mirza-sync opened #163 "No 'load' method"
Hi, I'm trying to implement playstore iframe from [android management API](https://developers.google.com/android/management/apps#step_2_render_the_iframe):

[code]

I'm using Vue 3 with Typescript and stumble up upon this vue-gapi library. Based on the code snippet, it requires me to use the `gapi.load` and `gapi.iframes` method. However those methods are not available in this library or in its do

[2021-04-14 21:14] fmeyertoens commented on #163
When using this library with Vue3 be sure to use the `vue-gapi@next` release tag.
The purpose of this library is to abstract the initialization of the gapi library provided by Google and give you easy access to it in Vue components without having to worry about script tags, global objects and user session storage. To enable that, the most important functions for authentication are exposed with a n

[2021-04-15 13:49] mirza-sync commented on #163
Okay it works! Thanks for the guidance.

[2021-04-15 13:49] #163 closed

[2021-05-26 11:09] yerttle opened #186 "Window is not defined"
Hi there, I am having an issue running vue-gapi as part of my Nuxt.Js app. My issue seems to be similar to https://github.com/vue-gapi/vue-gapi/issues/63 but I have followed thier suggestion and I still have the problem.

![image](https://user-images.githubusercontent.com/30318189/119649998-37883580-be1b-11eb-9bf8-0e1fb64b64fe.png)

**plugins/google-api.js**
[code]

**nuxt.config.js**
`plugins: ['

[2021-05-26 11:27] yerttle commented on #186
I respolved this doing this https://stackoverflow.com/questions/54979644/window-is-not-defined-in-nuxt-js

`  plugins: [{ src: '~/plugins/google-api.js', mode: 'client' }],`

[2021-05-26 11:27] #186 closed

[2021-06-20 22:45] ArvidAnderson opened #203 "How do you use it with composition api?"
As this.$gapi dosen't work in the composition api, how are you supposed to use it?

I wanna continue working in the setup function

[2021-06-21 02:25] namoscato commented on #203
Yeah, there is no support for the Composition API at the moment, but you should still be able to reference [`GoogleAuthService` methods](https://vue-gapi.github.io/vue-gapi/reference/GoogleAuthService/_index.html#googleauthservice) via `this.$gapi`. If not, can you provide some more context on your use case?

[2021-06-21 07:40] ArvidAnderson commented on #203
I'm mainly using the composition api for my project, i found a soulution with works after some time searching..

`import { getCurrentInstance } from 'vue'

const app = getCurrentInstance()
const gapi = app.appContext.config.globalProperties.$gapi

`

[2021-06-21 10:02] skirtles-code commented on #203
@namoscato There is no `this` reference inside `setup`. The way most libraries handle this is to use `provide`/`inject` instead, with the plugin providing the value on the app. Most libraries also supply a wrapper for the `inject` call, something like `useGapi()`, that can be called from within `setup`.

[2021-06-21 11:24] namoscato commented on #203
Gotcha, yeah this would be good to support for sure.

[2021-06-21 13:57] ionuttibi opened #204 "Google login not working on Capacitor Mobile app"
I am building a capacitor vue app and using vue-gapi library.

The library works very well on web app, and I can easily sign in and perform API calls featuring $gapi.

The problem is after I compile my app with Capacitor and run it on Android, when I fire the `$gapi.login()` method, then the redirect makes me log in normally, and after I log it the opened file in Chrome will suddenly close but whe

[2021-06-30 11:54] SKFrozenCloud commented on #204
Try `ux-mode: 'popup'` when doing `gapi.init()`.

If it doesn't work, then I think you have to do more configuration if I recall correctly... For android you needed some special file key file.
Maybe it is only for native android apps.

There is also https://github.com/CodetrixStudio/CapacitorGoogleAuth but I have not used it yet

[2021-09-08 21:30] StavrosFerkadis commented on #73
Would love to see an example in Vue 3

[2021-09-08 21:31] StavrosFerkadis commented on #130
I'm also very new to Vue and unfortunately that example didn't help a lot, especially since I'm on a Vue-CLI

[2021-09-08 23:10] namoscato commented on #73
@StavrosFerkadis, the plugin is pretty similar at the moment in Vue 3. You can view [updated examples here](https://github.com/vue-gapi/vue-gapi/pull/123/files?short_path=642c10b#diff-642c10b720d07ebba25e364603ad763fbc6e4542cb4b894dd6538821ee76c4af).

[2021-09-11 18:47] #73 closed

[2021-09-22 08:13] anaygupta opened #252 "integrating as nuxt plugin and using in pages/components?"
thanks for writing a clean gapi wrapper for vue.js! i got it working seamlessly within a vue app but am having trouble integrating it within nuxt? how would i refactor [this usage example](https://vue-gapi.github.io/vue-gapi/#usage) as a nuxt plugin?

[2021-09-28 08:56] zynth17 opened #253 "add typing for calendar"
is it possible to add the calendar instance types?

[2021-09-28 10:52] namoscato commented on #252
@anaygupta, I'm personally not familiar with Nuxt, but this would be good to document and/or support.

[2021-09-28 10:55] namoscato commented on #253
@zynth17, not in this library, but you should be able to add them from DefinitelyTyped (i.e. [`@types/gapi.client.calendar`](https://www.npmjs.com/package/@types/gapi.client.calendar)).

[2021-11-18 04:22] davelee-weperson opened #269 "Google login session on mobile"
Hi all,

Hope everyone is doing good in the pandemic.

My team has developed an app using Vue.js in the quasar framework and implemented a feature for sharing events using `vue-gapi`. The feature is working like a charm on the web browser. The feature is that once a user logs in to Google and grants permission of his Calendar then our app shares events the user creates on our app with his Google C

[2021-12-01 18:49] timmywiff commented on #269
I am having the exact same problem.

On closing a tab, browser application or navigating away from the web app. Upon loading the site again:
`gapi.isSignedIn()` return true on desktop but on mobile, it returns false.

[2021-12-02 01:56] davelee-weperson commented on #269
Thanks for sharing that you're also having the same issue! I will keep you updated if I find any solution to the issue. Can you also keep me updated if you find a solution, please? :)

[2021-12-02 02:06] namoscato commented on #269
Hey, thanks for surfacing.

I'm personally not familiar with these mobile contexts, but it seems this library would benefit from improvements on this front. I don't have time to dig into it anytime soon but am happy to help if any of you figure out what needs to happen!

[2021-12-02 02:16] davelee-weperson commented on #269
Hey!

Thanks for the rapid response. :) So the library is working well on the browser. For example, the google login session is always alive unless I log out of Google on purpose. But on mobile, the Google login session is expired if I close the tab even if I am logged in to Google. I want to keep users logged in to Google on their mobiles even if they close a tab they're logged in. I appreciate a

[2021-12-02 12:52] timmywiff commented on #269
I've spent several hours on this and made little progress.

So far, I've found that I can fix this problem on Google Chrome on Android by signing out of all accounts on Google, clearing the browser data, and then trying again. This does not seem to fix the issue on iOS.

I have also added the flowing to my App.vue `created()`:
[code]

[2021-12-03 09:57] timmywiff commented on #269
It looks like this is likely related to [this issue with google/google-api-javascript-client](https://github.com/google/google-api-javascript-client/issues/342).

[2021-12-09 10:03] DanieleMar opened #275 "how to avoid chrome to block popup when login"
I use this function to login
[code]

[here](https://stackoverflow.com/a/47526116/15352729) it is explain how to avoid chrome to block popup.

I don't understand how to adapt it with vue-gapi.
Thanks for the help

[2021-12-09 10:07] DanieleMar opened #276 "this.$gapi.gapi is undefined"
[.gapi](https://vue-gapi.github.io/vue-gapi/reference/GoogleAuthService/__index__.html#gapi) is undefined
I use for example `this.$gapi.gapi.load('calendar', 'v3')` or `this.$gapi.gapi.calendar.events`

What am I missing?

[2021-12-09 13:23] namoscato commented on #276
@DanieleMar, an initialized `gapi` client can be retrieved by the [`getGapiClient` promise-based method](https://vue-gapi.github.io/vue-gapi/reference/GoogleAuthService/__index__.html#getgapiclient-%E2%87%92-promise-gapi). It's also included in the resolved response of `login` as described in [Usage](https://vue-gapi.github.io/vue-gapi/#usage).

[2021-12-09 13:28] namoscato commented on #275
@DanieleMar, you could try invoking [`getAuthInstance`](https://vue-gapi.github.io/vue-gapi/reference/GoogleAuthService/__index__.html#GoogleAuthService+getAuthInstance) to implement an alternative login flow, just know that it will not inherently store the session in local storage. Feel free to reference the [`login` implementation](https://github.com/vue-gapi/vue-gapi/blob/v2.0.0/src/GoogleAuthS

[2021-12-14 18:08] mukundshah opened #277 "How do I run this code using the vue-gapi? Also if this could be use then please add relative section to documentation."
[code]
I tried using this code:
[code]
got this as output:
![image](https://user-images.githubusercontent.com/39938037/146055468-619e44d9-25b2-4efd-93e9-ac04ff162401.png)

[2021-12-14 18:27] mukundshah commented on #277
This has been resolved. Please delete this.

[2021-12-14 18:27] #277 closed

[2022-01-19 22:06] dcaldessa opened #287 "how to get the authenticated user[Question]"
I am writing an app and using the google api. I can successfully login and allow my app for the user .

what i want to know is how can I get the logged in user token and pass it to my backend so that I can use like and upload function to upload to the users google drive , or even download something .?

I've looked at the documentation which seems to be lacking  many examples..

any help would be g

[2022-02-01 15:02] rowellx68 commented on #203
Based on @skirtles-code's reply, this is my current workaround

**main.ts**
[code]

**google-api-helper.ts**

[code]

**Login.vue**
[code]

[2022-03-28 23:56] grandpaslab commented on #276
The [Usage ](https://vue-gapi.github.io/vue-gapi/#usage)doc says "Installing the plugin with gapi.client.init configuration parameters: ... exposes a $gapi global property accessible inside the application". This doesn't seem to be the case, at least when using the Composition API.  this.$gapi remains undefined.

[2022-04-10 21:31] namoscato commented on #203
@ArvidAnderson, @skirtles-code, @rowellx68 – `v2.1.0-beta.0` should add support for Composition API dependency injection via a `useGapi` wrapper. Would one of you mind giving this a try?

[2022-04-10 23:44] namoscato commented on #126
Cleaning up some older issues, but feel free to re-open if you're still having problems.

[2022-04-10 23:44] #126 closed

[2022-04-10 23:44] namoscato commented on #158
Cleaning up some older issues, but feel free to re-open if you're still having problems.

[2022-04-10 23:44] #158 closed

[2022-04-10 23:45] namoscato commented on #253
Cleaning up some older issues, but feel free to re-open if you're still having problems.

[2022-04-10 23:45] #253 closed

[2022-04-10 23:49] namoscato commented on #276
@DanieleMar, are you still having issues?

@grandpaslab, `v2.1.0-beta.0` [adds support](https://github.com/vue-gapi/vue-gapi/pull/306) for Composition API dependency injection via a `useGapi` wrapper. Could you try that in your context?

[2022-04-10 23:54] namoscato commented on #287
@dcaldessa, this plugin persists the user's session to local storage which you can retrieve via [`getUserData()`](https://vue-gapi.github.io/vue-gapi/reference/GoogleAuthService/__index__.html#GoogleAuthService+getUserData) as illustrated in [the Authentication example](https://vue-gapi.github.io/vue-gapi/examples/authentication.html). Hopefully that helps.

[2022-04-11 07:36] DanieleMar commented on #276
Some time has passed :). I switch to other tool to make it works

Daniele Mariotto

Il lun 11 apr 2022, 01:49 Nick Amoscato ***@***.***> ha
scritto:

[2022-05-08 10:30] kpoman opened #315 "Google Sign-in platform deprecated, use GIS ?"
Hello,

I am using the lib, working, but cant login or do whatever as I get this on the console:

[code]
They seem to say the method (with init etc.) used by vue-gapi is deprecated and should migrate to GIS ? Is that real ????
Thank you

[2022-05-08 14:56] namoscato commented on #315
Yeah, thanks for flagging, @kpoman. Per [this blog](https://developers.googleblog.com/2022/03/gis-jsweb-authz-migration.html):

We'll plan to make updates to this library in the next major version (v3), as I imagine there will be some breaking changes.

[2022-05-08 22:25] #203 closed

[2022-05-16 07:48] BenJackGill opened #331 "Does this always load the latest gapi version?"
I'm wondering if this uses a static version of gapi or does it always grab and use the most recent version?

[2022-05-16 10:50] namoscato commented on #331
@BenJackGill, it loads the latest / only version:

https://github.com/vue-gapi/vue-gapi/blob/7ce39fc613257a42f5cb58478408a57c34b581f2/src/GapiClientProvider/utils.js#L8

[2022-05-16 10:50] #331 closed

[2022-05-22 18:54] prem-jeet commented on #315
I this is the case, then how can we use this library in our current project ?

[2022-06-29 23:38] Aubynj commented on #315
Any update for this library to use the new Google Identity Services library?

[2022-07-21 11:28] RichardJECooke commented on #315
Yes, this project should probably be combined with the Vue GSI (https://vue3-google-signin.syetalabs.io/) project. They're highly interrelated.

[2022-08-06 16:43] namoscato commented on #315
Thanks, @RichardJECooke!

[v2.1.2](https://github.com/vue-gapi/vue-gapi/releases/tag/v2.1.2) adds a [deprecation notice](https://github.com/vue-gapi/vue-gapi#%EF%B8%8F-deprecation) pointing to that project, which we would encourage you to use.

[2022-08-06 16:43] #315 closed

[2022-08-12 14:10] lucianobosco opened #376 "Library will be deprecated?"
I'm new on Google API development.
I'm not sure to understand if this library will be deprecated or not in 2023.
The Google Sign-In JavaScript Platform Library is a dependency of this library?

[2022-08-12 14:27] namoscato commented on #376
Assuming you're creating a new application, you'll want to use the recommended [Vue3 Google Sign-in](https://vue3-google-signin.syetalabs.io/). This library will not support Google Identity Services, and you can read more about Google's change in [this blog](https://developers.googleblog.com/2022/03/gis-jsweb-authz-migration.html).

[2022-08-12 14:27] #376 closed

[2022-09-19 08:49] kasvith commented on #252
We have added Nuxt3 support with https://vue3-google-signin.syetalabs.io/guide/#with-nuxt

[2022-10-31 09:32] mars-hs opened #377 "de"

[2022-10-31 09:33] #377 closed